<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            background-image: url('/Image/logo.jpg');
            background-size: 60%; /* Adjust as needed */
            background-position: center; /* Adjust as needed */
        }
    </style>
    <title>@ViewData["Title"]</title>
    <style>
        /* CSS styles for the flip-box */
        .flip-box {
            background-color: transparent;
            width: 400px;
            height: 200px;
            border: 1px solid #f1f1f1;
            perspective: 1000px;
        }

        .flip-box-inner {
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        .flip-box:hover .flip-box-inner {
            transform: rotateY(180deg);
        }

        .flip-box-front,
        .flip-box-back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }

        .flip-box-front {
            background-color: deeppink;
            color: black;
        }

        .flip-box-back {
            background-color: deeppink;
            color: blue;
            transform: rotateY(180deg);
        }
    </style>
</head>
<body>
    <header style="text-align: center;">
        <h1 class="display-4" style="color: black; font-weight: bold;">Welcome to KhumaloCraft</h1>
    </header>

    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <h2>KhumaloCraft</h2>
                <p>

                    Welcome to KhumaloCraft, a place where craftsmanship and artistry collide.
                    At KhumaloCraft, we take great delight in crafting beautiful handmade vases that elevate any area.

                </p>
            </div>
            <div class="flip-box-back">
                <h2>KhumaloCraft</h2>
                <p>
                    Explore the creativity of KhumaloCraft and enhance your interior design
                    with the elegance and sophistication of our handcrafted vases.
                    Take a look through our inventory now to infuse your home with a hint of handmade elegance.

                </p>
            </div>
        </div>
    </div>

    <div class="text-center">
        <h2>Explore our Exceptionally beautiful handmade Vases</h2>
        <p>The vases that suit every environment at any time!</p>
    </div>
</body>
</html>
